*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a:link,a:visited,a:hover,a:active{
  text-decoration: none;
};

html,body{
  height: 100%;
}

.body_bg{
  background-color: #222d32;
}

#contaner .login_panel{
  margin-top: 200px;
  width: 400px;
  

}

#contaner .login_header{
  text-align: center;
  font-size: 20px;
}

